.fondo {
    background-image: url('img/img1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.contenedor {
    margin-top: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    text-align: justify;
    justify-content: center;
}

.card1 {
    max-width: 300px;
    margin: 20px;
    background-color: rgba(255, 255, 255, .40);
}

.row card1:hover {
    color: blue;
}

.card1-text {
    color: #f3f2f2;
    text-align: center;
    margin-bottom: 100px;

}

.card1-title {
    color: white;
    font-weight: bold;
    text-align: center;
}

.boton {
    margin-left: 750px;
}

.tabla1 {
    padding: 30px;
}

.cards-grid {
    display: flex;
    grid-gap: 80px;
    padding-bottom: 60px;
}

/* FLIP CARD */
.flip-card {
    width: 320px;
    height: 504px;
    perspective: 2000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
}

.flip-card-front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flip-card-back {
    font-size: 1.25rem;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 32px;
    background-color: #B1CFC8;
    transform: rotateY(180deg);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}

